.chat-input {
  position: relative;
  margin: 20px;

  .ml15 {
    margin-left: 10px;
  }



  .anticon {
    font-size: 22px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

