@import '../../styles/variables';

.message {
  $self: &;
  display: flex;
  /*
  max-width: 440px;
  */
  margin-bottom: 15px;

  &__content {
    display: flex;
    position: relative;

      .message-icon-readed {
        width: 15px;
        height: 10px;
        position: absolute;
        right: -25px;
        bottom: 31px;

    }
    #{$self}__info {
      #{$self}__icon__readed {
        width: 100vh;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .ava {
     border-radius: 50px;
     width: 33px;
     height: 33px;
     margin-right: 13px;
     margin-top: 13px;
     margin-bottom: 23px;
   }
  }

  &__bubble {
    background: $blue;
    max-width: 440px;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.19673);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;

      position: relative;

      .message-icon-readed {
        width: 15px;
        height: 10px;
        position: absolute;
        left: -25px !important;
        bottom: 31px !important;

      }

    }

    #{$self}__avatar {
      margin-bottom: 15px;
      flex-direction: column-reverse;
      img {
        margin-right: 0;
        margin-left: 13px;
        margin-bottom: 8px;
      }
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background: #ffffff;
      border:1px solid #ececec;
      border-radius: 12px 12px 0px 12px;
      box-shadow: 0 4px 4px rgba(0,0,0, 0.023);

      #{$self}__text {
        color: $black;
      }
    }
  }
}