@import '../../styles/variables';

.message {
  $self: &;
  display: flex;
  margin-bottom: 15px;

  &--is-audio {
    audio {
      display: none;
    }
    #{$self}__content {
      #{$self}__info {

        #{$self}__bubble__is-audio {
          width: 260px;
          position: relative;
          overflow: hidden;
          background: $blue;

          #{$self}__audio {
            .message__audio-progress {
              background: #418fff;
              position: absolute;
              left:0;
              top:0;
              height: 100%;
              transition: width 0.3s ease;
            }
            &-info {
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: relative;
              button {
                background: #0F3997;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: none;
                font-size: 16px;
                cursor: pointer;
              }

              .message__audio-duration {
                color: #fff;
                font-weight: 500;
                opacity: 0.5;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    position: relative;

    #{$self}__info {

      #{$self}__bubble__with-attachments {
        background: none;
        box-shadow: none;
        border: none;
        .display-none {
          display: none;
        }
      }

      #{$self}__bubble-isTyping {
        background:none;
        box-shadow: none;
        margin-bottom: 30px;
        border: none;
      }

      #{$self}__icon__readed {
        width: 100vh;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .ava {
     border-radius: 50px;
     width: 33px;
     height: 33px;
     margin-right: 13px;
     margin-top: 13px;
     margin-bottom: 23px;
   }
  }

  &__bubble {
    background: $blue;
    max-width: 440px;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.19673);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;

      position: relative;



      .message-icon-readed {
        width: 15px;
        height: 10px;
        position: absolute;
        left: -25px !important;
        bottom: 31px !important;

      }

    }

    #{$self}__avatar {
      margin-bottom: 15px;
      flex-direction: column-reverse;
      img {
        margin-right: 0;
        margin-left: 13px;
        margin-bottom: 8px;
      }
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background: #ffffff;
      border:1px solid #ececec;
      border-radius: 12px 12px 0px 12px;
      box-shadow: 0 4px 4px rgba(0,0,0, 0.023);

      #{$self}__text {
        color: $black;
      }
    }
  }
}

